{% extends 'base.html.twig' %}

{% block title %}Advertisement{% endblock %}

{% block body %}
    <h1>
        {% if search is not empty %}
            Recherche : {{ search }}
        {% else %}
            Liste des annonces
        {% endif %}
    </h1>

    {% if app.user %}
        <a href="{{ path('app_advertisement_new') }}">
            <button type="button" class="btn btn-primary">Ajouter</button>
        </a>
    {% endif %}

    <div class="list-group pt-5">
        {% if advertisements|length == 0 %}
            <p class="text-center">Aucune annonce</p>
        {% else %}
            {% for ad in advertisements %}
                <a href="{{ path('app_advertisement_show', {id: ad.id}) }}" class="list-group-item list-group-item-action" aria-current="true">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ ad.title }}</h5>
                        <small>{{ ad.createdAt|date('d/m/Y H:i') }}</small>
                        <span class="badge bg-secondary">{{ ad.category.name }}</span>
                    </div>
                    <p class="mb-1">
                        {{ ad.description|length > 100 ? ad.description|slice(0, 100) ~ '...' : ad.description }}
                    </p>
                    <a href="{{ path('app_advertisement_edit', {id: ad.id}) }}">
                        <button type="button" class="btn btn-secondary btn-sm">Modifier</button>
                    </a>
                </a>
            {% endfor %}
        {% endif %}
    </div>
    <div class="navigation">
        {{ knp_pagination_render(advertisements) }}
    </div>
{% endblock %}
