{% extends 'base.html.twig' %}

{% block title %}{{ advertisement.title }}{% endblock %}

{% block body %}
    <h1>{{ advertisement.title }}</h1>
    <p>Date de création: {{ advertisement.createdAt|date('d/m/Y H:i') }}</p>
    <p>Description: {{ advertisement.description }}</p>
    <a href="{{ path('app_advertisement_edit', {id: advertisement.id}) }}" class="btn btn-primary">Éditer</a>
    {{ include('advertisement/_deleteButton.html.twig', { advertisement: advertisement }) }}
{% endblock %}

